

.footer {
  background: linear-gradient(90deg, #00567a, #002230);
  color: white;
  /*padding: 2em 1em;*/
  padding-bottom: 1em;
  padding-top: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin-top: 1.2rem;
  margin-bottom: 0; 
  font-size: 1.2em;
}

.footer a,
.footer p {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0.2em;
  font-size: 0.95em;
}

.footer a:hover {
  text-decoration: underline;
}

.footer i {
  font-size: 1.2rem;
  margin-right: 0.5em;
}

.fa-brands {
  color: white;
}






/*** VERSION MOBILE - 767px ***/

@media (max-width: 767px) {
  .footer{
    display: flex;
    flex-direction: column;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
  }
  .footer-column{
    align-items: center;
  }
}



