body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.4s, color 0.4s;
}


main{
  min-height:720px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}







/* MODE SOMBRE */

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}


body.dark-mode .card,
body.dark-mode .article-box,
body.dark-mode .mentions-container,
body.dark-mode .summary-box {
  background-color: #1e1e1e;
  color: #f0f0f0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

body.dark-mode .tags span {
  background: linear-gradient(90deg, #66aaff, #225599);
}

body.dark-mode .title-chapter,
body.dark-mode .summary-item{
  color: #225599;
}


